{% load staticfiles %}

 <!-- Start GTBIT  footer -->
  <footer id="ad-footer">
    <!-- Start GTBIT  footer top -->
    <div class="ad-footer-top">
      <div class="container">
        <div class="ad-footer-top-area">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="ad-footer-widget">
                <h4>Quick Links</h4>
                <ul>
                  <li><a href="society.php">GTBIT Societies</a></li>
                  <li><a href="society.php">Activities</a></li>
                  <li><a href="p_cell.php">Placements</a></li>
                  <li><a href="gallery.php">Gallery</a></li>
                  <li><a href="aboutus.php">About us</a></li>
                  <li><a href="contact_us.php">Contact us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="ad-footer-widget">
                <h4>Student Section</h4>
                <ul>
                  <li><a href="http://164.100.158.135/ExamResults/ExamResultsmain.htm">Results</a></li>
                  <li><a href="http://ipu.ac.in/syll.php">Syllabus</a></li>
                  <li><a href="http://ipu.ac.in/exam_datesheet.php">Datesheets</a></li>
                  <li><a href="">Notices</a></li>                  
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="ad-footer-widget">
                <h4>How to Reach</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d17648.67400468322!2d77.11344052122381!3d28.631545067986778!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x68966aea6bc15b7e!2sGuru+Tegh+Bahadur+Institute+of+Technology!5e0!3m2!1sen!2sin!4v1472200764923" width="100%" height="180" frameborder="0" style="border:0" allowfullscreen></iframe>

              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="ad-footer-widget">
                <h4>Contact</h4>
                <address>
                  <p style="font-weight:bold;">Guru Tegh Bahadur Institute of Technology</p>
                  <p>G-8 Area, Rajouri Garden, New Delhi - 110064</p>
                  <p>Phone: +91 11 45599900</p>
                  <p>Email: info@gtbit.org</p>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end GTBIT GTBITfooter top -->
    <!-- Start GTBIT  footer bottom -->
    <div class="ad-footer-bottom">
      <div class="container">
        <div class="ad-footer-bottom-area">
          <p>&copy; All Right Reserved. Designed by <a href="#" rel="nofollow">Web Team</a></p>
        </div>
      </div>
    </div>
    <!-- end GTBIT GTBITfooter bottom -->
  </footer>
  </body>